svg{
    fill: currentColor;
}

.disabled{
    opacity: .3;
}

.card-link{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.3;
}